
@media screen and (min-width:450px){
    .grid-container{
        column-gap: 2em;
    }
    .content-image-Twocolumns{
        grid-column: 1/7;
    }
    .content-text-Twocolumns{
        grid-column: 7/13;
    }
} 