header{
    height: 550px;
    background-image: url(../images/banner-bg.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

header article{
    background-color: rgba(255,255,255,0.9);
    padding: 2em;
}
header h1{
    margin-top: 0;
}

section.items{
    margin-top: 5em;
    margin-bottom: 5em;
}

.items h1{
    margin-top: 0.7em;
}







@media screen and (min-width:450px){
    header {
        justify-content: flex-start;
    }

    header article{
       width: 70%;
    }


}

@media screen and (min-width:900px){
    header article{
        width: 400px;
    }
}